<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <modules>

    <!--ZoeProg.PlugIns.Home-->
    <module assemblyFile="ZoeProg.PlugIns.Home.dll" moduleType="ZoeProg.PlugIns.Home.HomeModule, ZoeProg.PlugIns.Home, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HomeModule" startupLoaded="True" />

    <!--Cleanup module-->
    <!--<module assemblyFile="ZoeProg.PlugIns.Cleanup.dll" moduleType="ZoeProg.PlugIns.Cleanup.CleanupModule, ZoeProg.PlugIns.Cleanup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CleanupModule" startupLoaded="True" />-->

    <!--<module assemblyFile="ZoeProg.PlugIns.TaskManager.dll" moduleType="ZoeProg.PlugIns.TaskManager.TaskManagerModule, ZoeProg.PlugIns.TaskManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TaskManagerModule" startupLoaded="True" />-->

    <!--    ZoeProg.PlugIns.UninstalledPackage-->
    <!--
    <module assemblyFile="ZoeProg.PlugIns.UninstalledPackage.dll" moduleType="ZoeProg.PlugIns.UninstalledPackage.UninstalledPackageModule, ZoeProg.PlugIns.UninstalledPackage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UninstalledPackageModule" startupLoaded="True" />

    -->
    <!--ChocolateyNuGet.Modules.PackageExplorer-->

    <module assemblyFile="ZoeProg.PlugIns.InstalledList.dll" moduleType="ZoeProg.PlugIns.InstalledList.InstalledListModule, ZoeProg.PlugIns.InstalledList, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="InstalledListModule" startupLoaded="True" />

    <!--"namespace.classname, assemblyname"-->
    <!--
    <module assemblyFile="ZoeProg.PlugIns.Settings.dll" moduleType="ZoeProg.PlugIns.Settings.SettingModule, ZoeProg.PlugIns.Settings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SettingModule" startupLoaded="True" />-->

    <!--ChocolateyNuGet.Modules.InstalledPackage-->
    <!--
    <module assemblyFile="ChocolateyNuGet.Modules.InstalledPackage.dll"
             moduleType="ChocolateyNuGet.Modules.InstalledPackage.InstalledPackageModule, ChocolateyNuGet.Modules.InstalledPackage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             moduleName="InstalledPackageModule"
             startupLoaded="True" />

    <module assemblyFile="ChocolateyNuGet.Modules.Startcenter.dll"
               moduleType="ChocolateyNuGet.Modules.Startcenter.StartcenterModule, ChocolateyNuGet.Modules.Startcenter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
               moduleName="StartcenterModule"
               startupLoaded="True" />-->
  </modules>

  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.431" newVersion="7.1.0.431" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.10.3.0" newVersion="5.10.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>