<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <!--"namespace.classname, assemblyname"-->
    <!--<module assemblyFile="ChocolateyNuGet.Modules.DetailsPackage.dll"
            moduleType="ChocolateyNuGet.Modules.DetailsPackage.DetailsPackageModule, ChocolateyNuGet.Modules.DetailsPackage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DetailsPackageModule"
            startupLoaded="True" />-->

    <!--ChocolateyNuGet.Modules.PackageExplorer-->
    <module assemblyFile="ZoeProg.PlugIns.InstalledList.dll"
             moduleType="ZoeProg.PlugIns.InstalledList.InstalledListModule, ZoeProg.PlugIns.InstalledList, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             moduleName="InstalledListModule"
             startupLoaded="True" />

    <!--ChocolateyNuGet.Modules.InstalledPackage-->
    <!--
    <module assemblyFile="ChocolateyNuGet.Modules.InstalledPackage.dll"
             moduleType="ChocolateyNuGet.Modules.InstalledPackage.InstalledPackageModule, ChocolateyNuGet.Modules.InstalledPackage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             moduleName="InstalledPackageModule"
             startupLoaded="True" />

    <module assemblyFile="ChocolateyNuGet.Modules.Startcenter.dll"
               moduleType="ChocolateyNuGet.Modules.Startcenter.StartcenterModule, ChocolateyNuGet.Modules.Startcenter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
               moduleName="StartcenterModule"
               startupLoaded="True" />-->
  </modules>
</configuration>